In [1]:
import datetime as dt
import pandas as pd

import cotacoes as ct

from fetchdata import buscar_cotacoes_yahoo

In [2]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 50)
pd.set_option('display.width', 100)
# pd.options.display.float_format = '{:, .2f}'.format

In [3]:
# Tickers são um código único que a bolsa
# atribui aos instrumentos financeiros
# TICKERS = [
#     # Ações de bolsas estadounidenses
#     "TSLA",
#     # Ações listadas no Brasil
#     "EMBR3.SA",
#     # Índices de bolsas mundiais
#     "^BVSP",
# ]

In [4]:
# Duração das séries a serem analisadas. Datas no formato ano, mes, dia
SERIE_1_PERIODO = {"inicio": dt.date(2019, 1, 1), "fim": dt.date(2019, 12, 31)}
SERIE_2_PERIODO = {"inicio": dt.date(2020, 1, 1), "fim": dt.date.today()}

In [5]:
# Séries a serem analisadas (cotações de dois anos diferentes)
cotacoes_s1 = buscar_cotacoes_yahoo("^BVSP", SERIE_1_PERIODO)
cotacoes_s2 = buscar_cotacoes_yahoo("^BVSP", SERIE_2_PERIODO)

# Número de classes padrão para as tabelas
nclasses_padrao = cotacoes_s1.analise.nclasses

In [6]:
cotacoes_s1
cotacoes_s1.analise.tabela_classes_cotacoes('Open', tabelaid='abertura')

                        Open
Open
(87857.68, 89719.38]       1
(89719.38, 91551.75]       3
(91551.75, 93384.12]      12
(93384.12, 95216.5]       30
(95216.5, 97048.88]       37
(97048.88, 98881.25]      30
(98881.25, 100713.62]     22
(100713.62, 102546.0]     19
(102546.0, 104378.38]     30
(104378.38, 106210.75]    19
(106210.75, 108043.12]    14
(108043.12, 109875.5]     14
(109875.5, 111707.88]      6
(111707.88, 113540.25]     4
(113540.25, 115372.62]     3
(115372.62, 117205.0]      3

In [7]:
cotacoes_s1.analise.cache('abertura')

                        Open
Open
(87857.68, 89719.38]       1
(89719.38, 91551.75]       3
(91551.75, 93384.12]      12
(93384.12, 95216.5]       30
(95216.5, 97048.88]       37
(97048.88, 98881.25]      30
(98881.25, 100713.62]     22
(100713.62, 102546.0]     19
(102546.0, 104378.38]     30
(104378.38, 106210.75]    19
(106210.75, 108043.12]    14
(108043.12, 109875.5]     14
(109875.5, 111707.88]      6
(111707.88, 113540.25]     4
(113540.25, 115372.62]     3
(115372.62, 117205.0]      3

In [8]:
cotacoes_s2.analise.tabela_classes()

                               Volume
Close
(63514.042, 67300.533]     43866100.0
(67300.533, 71031.067]     48329400.0
(71031.067, 74761.6]       90503100.0
(74761.6, 78492.133]      131307200.0
(78492.133, 82222.667]    201755300.0
(82222.667, 85953.2]       71463300.0
(85953.2, 89683.733]       62374800.0
(89683.733, 93414.267]     66600000.0
(93414.267, 97144.8]      340000800.0
(97144.8, 100875.333]     352023200.0
(100875.333, 104605.867]  385420500.0
(104605.867, 108336.4]    112764000.0
(108336.4, 112066.933]     75895700.0
(112066.933, 115797.467]  156342600.0
(115797.467, 119528.0]    115213800.0

In [9]:
cotacoes_s1.analise.nclasses = 5
cotacoes_s1.analise.agrupamento_volume()

                Volume Hund Thous
Volume
(-0.092, 18.4]                  3
(18.4, 36.8]                   22
(36.8, 55.2]                  181
(55.2, 73.6]                   38
(73.6, 92.0]                    3

In [10]:
cotacoes_s1.analise.nclasses = nclasses_padrao
cotacoes_s1.analise.volumetotal

1162353500.0

In [11]:
cotacoes_s2.analise.amplitude('Open')

55924.0

In [12]:
cotacoes_s2.analise.tabela_classes_cotacoes('Open')

                        Open
Open
(63548.08, 67332.27]       3
(67332.27, 71060.53]       4
(71060.53, 74788.8]        8
(74788.8, 78517.07]       11
(78517.07, 82245.33]      20
(82245.33, 85973.6]        6
(85973.6, 89701.87]        5
(89701.87, 93430.13]       5
(93430.13, 97158.4]       34
(97158.4, 100886.67]      38
(100886.67, 104614.93]    38
(104614.93, 108343.2]     14
(108343.2, 112071.47]      7
(112071.47, 115799.73]    22
(115799.73, 119528.0]     20

In [13]:
cotacoes_s2.analise.amplitude('Open')

55924.0

In [14]:
cotacoes_s2.analise.tabela_classes_cotacoes('Open')

                        Open
Open
(63548.08, 67332.27]       3
(67332.27, 71060.53]       4
(71060.53, 74788.8]        8
(74788.8, 78517.07]       11
(78517.07, 82245.33]      20
(82245.33, 85973.6]        6
(85973.6, 89701.87]        5
(89701.87, 93430.13]       5
(93430.13, 97158.4]       34
(97158.4, 100886.67]      38
(100886.67, 104614.93]    38
(104614.93, 108343.2]     14
(108343.2, 112071.47]      7
(112071.47, 115799.73]    22
(115799.73, 119528.0]     20

In [15]:
cotacoes_s1.analise.cotacao_agrupada_por_periodo('M')
cotacoes_s1.analise.diferenca_periodo(
    'Close', 'Open', periodos_consecutivos=True,tabelaid='cotacao_agrupada_por_periodo')
cotacoes_s1.analise.colunas_frequencias('Volume', tabelaid='cotacao_agrupada_por_periodo')

,Open,Close,High,Low,Volume,Close-Open,Rel Volume,Cum Volume,Cum Rel Volume
Date,,,,,,,,,
2019-01-31,87887.0,97394.0,98405.0,87536.0,101237300.0,NaN,8.709683,1.012373e+08,8.709683
2019-02-28,97395.0,95584.0,98589.0,93424.0,95001600.0,-1.0,8.173211,1.962389e+08,16.882893
2019-03-31,95584.0,95415.0,100439.0,91584.0,83984200.0,0.0,7.225358,2.802231e+08,24.108251
2019-04-30,95423.0,96353.0,97610.0,92338.0,90379400.0,-8.0,7.775552,3.706025e+08,31.883803
2019-05-31,96339.0,97030.0,97992.0,89409.0,98077700.0,14.0,8.437855,4.686802e+08,40.321658
2019-06-30,97036.0,100967.0,102617.0,95686.0,88248100.0,-6.0,7.592191,5.569283e+08,47.913849
2019-07-31,100973.0,101812.0,106650.0,100073.0,94472500.0,-6.0,8.127691,6.514008e+08,56.041540
2019-08-31,101819.0,101135.0,104848.0,95855.0,118683900.0,-7.0,10.210655,7.700847e+08,66.252194
2019-09-30,101133.0,104745.0,106001.0,99406.0,93206100.0,2.0,8.018740,8.632908e+08,74.270934
2019-10-31,104745.0,107220.0,108408.0,99826.0,103190700.0,0.0,8.877738,9.664815e+08,83.148672
2019-11-30,107221.0,108233.0,109672.0,105261.0,95992100.0,-1.0,8.258426,1.062474e+09,91.407098
2019-12-31,108246.0,115964.0,117803.0,108190.0,99879900.0,-13.0,8.592902,1.162354e+09,100.000000

In [26]:
metricas = {
    'Cotação Máxima média': cotacoes_s1['High'].mean(),
    'Variância Máxima': cotacoes_s1['High'].var(),
    'Desvio padrão Máxima': cotacoes_s1['High'].std(),
    
    'Cotação média de Abertura': cotacoes_s1['Open'].mean(),
    'Variância Abertura': cotacoes_s1['Open'].var(),
    'Desvio padrão Abertura': cotacoes_s1['Open'].std(),

    'Cotação média de Fechamento': cotacoes_s1['Close'].mean(),
    'Variância Fechamento': cotacoes_s1['Close'].var(),
    'Desvio padrão Fechamento': cotacoes_s1['Close'].std(),

    'Cotação Mínima média': cotacoes_s1['Low'].mean(),
    'Variância Mínima': cotacoes_s1['Low'].var(),
    'Desvio padrão Mínimo': cotacoes_s1['Low'].std(),
}

m = pd.DataFrame(metricas.values(), metricas.keys())
m

                                        0
Cotação Máxima média         1.013782e+05
Variância Máxima             3.250451e+07
Desvio padrão Máxima         5.701272e+03
Cotação média de Abertura    1.005767e+05
Variância Abertura           3.354653e+07
Desvio padrão Abertura       5.791936e+03
Cotação média de Fechamento  1.006846e+05
Variância Fechamento         3.374065e+07
Desvio padrão Fechamento     5.808671e+03
Cotação Mínima média         9.984486e+04
Variância Mínima             3.464257e+07
Desvio padrão Mínimo         5.885794e+03

In [17]:
cotacoes_s2.analise.cotacao_agrupada_por_periodo('M')
cotacoes_s2.analise.diferenca_periodo(
    'Close', 'Open', periodos_consecutivos=True,tabelaid='cotacao_agrupada_por_periodo')
cotacoes_s2.analise.colunas_frequencias('Volume', tabelaid='cotacao_agrupada_por_periodo')

,Open,Close,High,Low,Volume,Close-Open,Rel Volume,Cum Volume,Cum Rel Volume
Date,,,,,,,,,
2020-01-31,115652.0,113761.0,119593.0,112825.0,122061200.0,NaN,5.415652,1.220612e+08,5.415652
2020-02-29,113761.0,104172.0,117701.0,99951.0,112914700.0,0.0,5.009837,2.349759e+08,10.425489
2020-03-31,104260.0,73020.0,108804.0,61691.0,270525000.0,-88.0,12.002743,5.055009e+08,22.428232
2020-04-30,73011.0,80506.0,83598.0,67802.0,209517900.0,9.0,9.295960,7.150188e+08,31.724192
2020-05-31,80501.0,87403.0,88091.0,75697.0,220355900.0,5.0,9.776824,9.353747e+08,41.501015
2020-06-30,87395.0,95056.0,97693.0,86837.0,232321100.0,8.0,10.307700,1.167696e+09,51.808715
2020-07-31,95062.0,102912.0,105704.0,95062.0,212054200.0,-6.0,9.408491,1.379750e+09,61.217206
2020-08-31,102913.0,99369.0,104523.0,98513.0,202682200.0,-1.0,8.992671,1.582432e+09,70.209877
2020-09-30,99382.0,94603.0,103226.0,93408.0,182459100.0,-13.0,8.095406,1.764891e+09,78.305283
2020-10-31,94604.0,93952.0,102218.0,93387.0,198128300.0,-1.0,8.790622,1.963020e+09,87.095905
2020-11-30,93968.0,108888.0,111603.0,93968.0,210654500.0,-16.0,9.346389,2.173674e+09,96.442294
2020-12-31,108897.0,114992.0,115262.0,108897.0,80185700.0,-9.0,3.557706,2.253860e+09,100.000000

In [19]:
metricas = {
    'Cotação Máxima média': cotacoes_s2['High'].mean(),
    'Variância Máxima': cotacoes_s2['High'].var(),
    'Desvio padrão Máxima': cotacoes_s2['High'].std(),
    
    'Cotação média de Abertura': cotacoes_s2['Open'].mean(),
    'Variância Abertura': cotacoes_s2['Open'].var(),
    'Desvio padrão Abertura': cotacoes_s2['Open'].std(),

    'Cotação média de Fechamento': cotacoes_s2['Close'].mean(),
    'Variância Fechamento': cotacoes_s2['Close'].var(),
    'Desvio padrão Fechamento': cotacoes_s2['Close'].std(),

    'Cotação Mínima média': cotacoes_s2['Low'].mean(),
    'Variância Mínima': cotacoes_s2['Low'].var(),
    'Desvio padrão Mínimo': cotacoes_s2['Low'].std(),
}

m = pd.DataFrame(metricas.values(), metricas.keys())
m

                                        0
Cotação Máxima média         9.900312e+04
Variância Máxima             1.626817e+08
Desvio padrão Máxima         1.275467e+04
Cotação média de Abertura    9.765959e+04
Variância Abertura           1.757392e+08
Desvio padrão Abertura       1.325667e+04
Cotação média de Fechamento  9.769049e+04
Variância Fechamento         1.765150e+08
Desvio padrão Fechamento     1.328590e+04
Cotação Mínima média         9.632514e+04
Variância Mínima             1.874714e+08
Desvio padrão Mínimo         1.369202e+04