In [1]:
import datetime as dt
import pandas as pd

import cotacoes as ct

from fetchdata import buscar_cotacoes_yahoo

In [2]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 1000)

In [3]:
# Tickers são um código único que a bolsa
# atribui aos instrumentos financeiros
TICKERS = [
    # Ações de bolsas estadounidenses
    "TSLA",
    # Ações listadas no Brasil
    "EMBR3.SA",
    # Índices de bolsas mundiais
    "^BVSP",
]

In [4]:
# Duração das séries a serem analisadas. Datas no formato ano, mes, dia
SERIE_1_PERIODO = {"inicio": dt.date(2019, 1, 1), "fim": dt.date(2019, 12, 31)}
SERIE_2_PERIODO = {"inicio": dt.date(2020, 1, 1), "fim": dt.date.today()}

In [5]:
# Séries a serem analisadas (cotações de dois anos diferentes)
cotacoes_s1 = buscar_cotacoes_yahoo("^BVSP", SERIE_1_PERIODO)
cotacoes_s2 = buscar_cotacoes_yahoo("^BVSP", SERIE_2_PERIODO)

### Tabela de classes

O volume de negócios nos dias em que o fechamento da cotação ficou entre U\$ 35.40 e U\$ 40.56 foi de quase 702 milhões de negócios.

In [6]:
cotacoes_s1

                High       Low      Open     Close     Volume  Adj Close
Date
2019-01-02   91479.0   87536.0   87887.0   91012.0  5615400.0    91012.0
2019-01-03   91596.0   89922.0   91011.0   91564.0  6066200.0    91564.0
2019-01-04   92701.0   90824.0   91577.0   91841.0  5322100.0    91841.0
2019-01-07   92552.0   91288.0   91845.0   91699.0  4565000.0    91699.0
2019-01-08   92231.0   91064.0   91699.0   92032.0  4496500.0    92032.0
...              ...       ...       ...       ...        ...        ...
2019-12-20  115171.0  114526.0  115133.0  115121.0  6887400.0   115121.0
2019-12-23  115863.0  114964.0  115119.0  115863.0  3995200.0   115863.0
2019-12-26  117220.0  115673.0  115864.0  117203.0  3788900.0   117203.0
2019-12-27  117803.0  115995.0  117205.0  116534.0  3905900.0   116534.0
2019-12-30  117086.0  115790.0  116530.0  115964.0  3667900.0   115964.0

[247 rows x 6 columns]

In [7]:
cotacoes_s2.analise.tabela_classes

TypeError: 'numpy.float64' object cannot be interpreted as an integer

### Volume diminuindo

In [8]:
cotacoes_s1

                High       Low      Open     Close     Volume  Adj Close
Date
2019-01-02   91479.0   87536.0   87887.0   91012.0  5615400.0    91012.0
2019-01-03   91596.0   89922.0   91011.0   91564.0  6066200.0    91564.0
2019-01-04   92701.0   90824.0   91577.0   91841.0  5322100.0    91841.0
2019-01-07   92552.0   91288.0   91845.0   91699.0  4565000.0    91699.0
2019-01-08   92231.0   91064.0   91699.0   92032.0  4496500.0    92032.0
...              ...       ...       ...       ...        ...        ...
2019-12-20  115171.0  114526.0  115133.0  115121.0  6887400.0   115121.0
2019-12-23  115863.0  114964.0  115119.0  115863.0  3995200.0   115863.0
2019-12-26  117220.0  115673.0  115864.0  117203.0  3788900.0   117203.0
2019-12-27  117803.0  115995.0  117205.0  116534.0  3905900.0   116534.0
2019-12-30  117086.0  115790.0  116530.0  115964.0  3667900.0   115964.0

[247 rows x 6 columns]

In [9]:
cotacoes_s1.nclasses = 10
cotacoes_s1.analise.tabela_classes_volume

1482

Volume
(0.0, 6.0]       1
(6.0, 12.0]      0
(12.0, 18.0]     0
(18.0, 24.0]     0
(24.0, 30.0]     5
(30.0, 36.0]    17
(36.0, 42.0]    54
(42.0, 48.0]    63
(48.0, 54.0]    55
(54.0, 60.0]    29
(60.0, 66.0]    10
(66.0, 72.0]     8
(72.0, 78.0]     1
(78.0, 84.0]     1
(84.0, 90.0]     0
Name: Volume, dtype: int64

In [10]:
cotacoes_s1.analise.volumetotal

1162353500.0

In [11]:
cotacoes_s1.analise.tabela_classes_cotacoes('Open')

                      Open
Open
(87857.68, 90818.8]      3
(90818.8, 93750.6]      18
(93750.6, 96682.4]      57
(96682.4, 99614.2]      43
(99614.2, 102546.0]     33
(102546.0, 105477.8]    46
(105477.8, 108409.6]    24
(108409.6, 111341.4]    13
(111341.4, 114273.2]     4
(114273.2, 117205.0]     6

In [12]:
cotacoes_s2.analise.tabela_classes_cotacoes('Open')

                      Open
Open
(63548.08, 69196.4]      4
(69196.4, 74788.8]      11
(74788.8, 80381.2]      24
(80381.2, 85973.6]      13
(85973.6, 91566.0]       6
(91566.0, 97158.4]      38
(97158.4, 102750.8]     62
(102750.8, 108343.2]    28
(108343.2, 113935.6]    14
(113935.6, 119528.0]    34

In [13]:
cotacoes_s2.analise.amplitude('Open')

55924.0

In [14]:
cotacoes_s2.analise.cotacao_agrupada_por_periodo('M')

                Open         Close      High       Low       Volume
Date
2020-01-31  115652.0  113761.00000  119593.0  112825.0  122061200.0
2020-02-29  113761.0  104172.00000  117701.0   99951.0  112914700.0
2020-03-31  104260.0   73020.00000  108804.0   61691.0  270525000.0
2020-04-30   73011.0   80506.00000   83598.0   67802.0  209517900.0
2020-05-31   80501.0   87403.00000   88091.0   75697.0  220355900.0
2020-06-30   87395.0   95056.00000   97693.0   86837.0  232321100.0
2020-07-31   95062.0  102912.00000  105704.0   95062.0  212054200.0
2020-08-31  102913.0   99369.00000  104523.0   98513.0  202682200.0
2020-09-30   99382.0   94603.00000  103226.0   93408.0  182459100.0
2020-10-31   94604.0   93952.00000  102218.0   93387.0  198128300.0
2020-11-30   93968.0  108888.00000  111603.0   93968.0  210654500.0
2020-12-31  108897.0  113001.15625  114531.0  108897.0   59951000.0

In [15]:
cotacoes_s2.analise.diferenca_cotacoes_mesmo_periodo('Open', 'High')

,High,Low,Open,Close,Volume,Adj Close,Open - High
Date,,,,,,,
2020-01-02,118573.000000,115649.000000,115652.00000,118573.00000,5162700.0,118573.00000,-2921.000000
2020-01-03,118792.000000,117341.000000,118564.00000,117707.00000,6834500.0,117707.00000,-228.000000
2020-01-06,117707.000000,116269.000000,117707.00000,116878.00000,6570000.0,116878.00000,0.000000
2020-01-07,117076.000000,115965.000000,116872.00000,116662.00000,4854100.0,116662.00000,-204.000000
2020-01-08,117335.000000,115693.000000,116667.00000,116247.00000,5910500.0,116247.00000,-668.000000
...,...,...,...,...,...,...,...
2020-12-03,113377.000000,111874.000000,111874.00000,112919.00000,11474200.0,112919.00000,-1503.000000
2020-12-04,113864.000000,112294.000000,112294.00000,113682.00000,8892900.0,113682.00000,-1570.000000
2020-12-07,114531.000000,112629.000000,113751.00000,113625.00000,9633900.0,113625.00000,-780.000000
2020-12-08,114381.000000,112820.000000,113590.00000,113571.00000,8810900.0,113571.00000,-791.000000
2020-12-09,114020.398438,112566.726562,113798.53125,113001.15625,0.0,113001.15625,-221.867188

In [8]:
cotacoes_s2.analise.diferenca_periodos_distintos('Open', 'Close')

,High,Low,Open,Close,Volume,Adj Close,Open - Close
Date,,,,,,,
2020-01-02,118573.000000,115649.000000,115652.00000,118573.00000,5162700.0,118573.00000,NaN
2020-01-03,118792.000000,117341.000000,118564.00000,117707.00000,6834500.0,117707.00000,857.000
2020-01-06,117707.000000,116269.000000,117707.00000,116878.00000,6570000.0,116878.00000,829.000
2020-01-07,117076.000000,115965.000000,116872.00000,116662.00000,4854100.0,116662.00000,210.000
2020-01-08,117335.000000,115693.000000,116667.00000,116247.00000,5910500.0,116247.00000,420.000
...,...,...,...,...,...,...,...
2020-12-03,113377.000000,111874.000000,111874.00000,112919.00000,11474200.0,112919.00000,-1045.000
2020-12-04,113864.000000,112294.000000,112294.00000,113682.00000,8892900.0,113682.00000,-1388.000
2020-12-07,114531.000000,112629.000000,113751.00000,113625.00000,9633900.0,113625.00000,126.000
2020-12-08,114381.000000,112820.000000,113590.00000,113571.00000,8810900.0,113571.00000,19.000
2020-12-09,114020.398438,112566.726562,113798.53125,113001.15625,0.0,113001.15625,797.375