In [1]:
import datetime as dt
import pandas as pd

import cotacoes as ct

from fetchdata import buscar_cotacoes_yahoo

In [2]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 50)
pd.set_option('display.width', 1000)

In [3]:
# Tickers são um código único que a bolsa
# atribui aos instrumentos financeiros
TICKERS = [
    # Ações de bolsas estadounidenses
    "TSLA",
    # Ações listadas no Brasil
    "EMBR3.SA",
    # Índices de bolsas mundiais
    "^BVSP",
]

In [4]:
# Duração das séries a serem analisadas. Datas no formato ano, mes, dia
SERIE_1_PERIODO = {"inicio": dt.date(2019, 1, 1), "fim": dt.date(2019, 12, 31)}
SERIE_2_PERIODO = {"inicio": dt.date(2020, 1, 1), "fim": dt.date.today()}

In [5]:
# Séries a serem analisadas (cotações de dois anos diferentes)
cotacoes_s1 = buscar_cotacoes_yahoo("^BVSP", SERIE_1_PERIODO)
cotacoes_s2 = buscar_cotacoes_yahoo("^BVSP", SERIE_2_PERIODO)

# Número de classes padrão para as tabelas
nclasses_padrao = cotacoes_s1.analise.nclasses

### Tabela de classes

O volume de negócios nos dias em que o fechamento da cotação ficou entre U\$ 35.40 e U\$ 40.56 foi de quase 702 milhões de negócios.

In [6]:
cotacoes_s1

                High       Low      Open     Close     Volume  Adj Close
Date
2019-01-02   91479.0   87536.0   87887.0   91012.0  5615400.0    91012.0
2019-01-03   91596.0   89922.0   91011.0   91564.0  6066200.0    91564.0
2019-01-04   92701.0   90824.0   91577.0   91841.0  5322100.0    91841.0
2019-01-07   92552.0   91288.0   91845.0   91699.0  4565000.0    91699.0
2019-01-08   92231.0   91064.0   91699.0   92032.0  4496500.0    92032.0
...              ...       ...       ...       ...        ...        ...
2019-12-20  115171.0  114526.0  115133.0  115121.0  6887400.0   115121.0
2019-12-23  115863.0  114964.0  115119.0  115863.0  3995200.0   115863.0
2019-12-26  117220.0  115673.0  115864.0  117203.0  3788900.0   117203.0
2019-12-27  117803.0  115995.0  117205.0  116534.0  3905900.0   116534.0
2019-12-30  117086.0  115790.0  116530.0  115964.0  3667900.0   115964.0

[247 rows x 6 columns]

In [7]:
cotacoes_s2.analise.tabela_classes()

                               Volume
Close
(63514.042, 67300.533]     43866100.0
(67300.533, 71031.067]     48329400.0
(71031.067, 74761.6]       90503100.0
(74761.6, 78492.133]      131307200.0
(78492.133, 82222.667]    201755300.0
(82222.667, 85953.2]       71463300.0
(85953.2, 89683.733]       62374800.0
(89683.733, 93414.267]     66600000.0
(93414.267, 97144.8]      340000800.0
(97144.8, 100875.333]     352023200.0
(100875.333, 104605.867]  385420500.0
(104605.867, 108336.4]    112764000.0
(108336.4, 112066.933]     75895700.0
(112066.933, 115797.467]  156342600.0
(115797.467, 119528.0]    115213800.0

### Volume diminuindo

In [8]:
cotacoes_s1

                High       Low      Open     Close     Volume  Adj Close
Date
2019-01-02   91479.0   87536.0   87887.0   91012.0  5615400.0    91012.0
2019-01-03   91596.0   89922.0   91011.0   91564.0  6066200.0    91564.0
2019-01-04   92701.0   90824.0   91577.0   91841.0  5322100.0    91841.0
2019-01-07   92552.0   91288.0   91845.0   91699.0  4565000.0    91699.0
2019-01-08   92231.0   91064.0   91699.0   92032.0  4496500.0    92032.0
...              ...       ...       ...       ...        ...        ...
2019-12-20  115171.0  114526.0  115133.0  115121.0  6887400.0   115121.0
2019-12-23  115863.0  114964.0  115119.0  115863.0  3995200.0   115863.0
2019-12-26  117220.0  115673.0  115864.0  117203.0  3788900.0   117203.0
2019-12-27  117803.0  115995.0  117205.0  116534.0  3905900.0   116534.0
2019-12-30  117086.0  115790.0  116530.0  115964.0  3667900.0   115964.0

[247 rows x 6 columns]

In [9]:
cotacoes_s1.analise.nclasses = 5
cotacoes_s1.analise.agrupamento_volume()

                Volume Hund Thous
Volume
(-0.092, 18.4]                  3
(18.4, 36.8]                   22
(36.8, 55.2]                  181
(55.2, 73.6]                   38
(73.6, 92.0]                    3

In [10]:
cotacoes_s1.analise.nclasses = nclasses_padrao
cotacoes_s1.analise.volumetotal

1162353500.0

In [11]:
cotacoes_s1.analise.tabela_classes_cotacoes('Open')

                        Open
Open
(87857.68, 89719.38]       1
(89719.38, 91551.75]       3
(91551.75, 93384.12]      12
(93384.12, 95216.5]       30
(95216.5, 97048.88]       37
(97048.88, 98881.25]      30
(98881.25, 100713.62]     22
(100713.62, 102546.0]     19
(102546.0, 104378.38]     30
(104378.38, 106210.75]    19
(106210.75, 108043.12]    14
(108043.12, 109875.5]     14
(109875.5, 111707.88]      6
(111707.88, 113540.25]     4
(113540.25, 115372.62]     3
(115372.62, 117205.0]      3

In [12]:
cotacoes_s2.analise.tabela_classes_cotacoes('Open')

                        Open
Open
(63548.08, 67332.27]       3
(67332.27, 71060.53]       4
(71060.53, 74788.8]        8
(74788.8, 78517.07]       11
(78517.07, 82245.33]      20
(82245.33, 85973.6]        6
(85973.6, 89701.87]        5
(89701.87, 93430.13]       5
(93430.13, 97158.4]       34
(97158.4, 100886.67]      38
(100886.67, 104614.93]    38
(104614.93, 108343.2]     14
(108343.2, 112071.47]      7
(112071.47, 115799.73]    22
(115799.73, 119528.0]     20

In [13]:
cotacoes_s2.analise.amplitude('Open')

55924.0

In [14]:
cotacoes_s2.analise.cotacao_agrupada_por_periodo('M')

                Open     Close      High       Low       Volume
Date
2020-01-31  115652.0  113761.0  119593.0  112825.0  122061200.0
2020-02-29  113761.0  104172.0  117701.0   99951.0  112914700.0
2020-03-31  104260.0   73020.0  108804.0   61691.0  270525000.0
2020-04-30   73011.0   80506.0   83598.0   67802.0  209517900.0
2020-05-31   80501.0   87403.0   88091.0   75697.0  220355900.0
2020-06-30   87395.0   95056.0   97693.0   86837.0  232321100.0
2020-07-31   95062.0  102912.0  105704.0   95062.0  212054200.0
2020-08-31  102913.0   99369.0  104523.0   98513.0  202682200.0
2020-09-30   99382.0   94603.0  103226.0   93408.0  182459100.0
2020-10-31   94604.0   93952.0  102218.0   93387.0  198128300.0
2020-11-30   93968.0  108888.0  111603.0   93968.0  210654500.0
2020-12-31  108897.0  114992.0  115262.0  108897.0   80185700.0

In [15]:
cotacoes_s2.analise.diferenca_periodo('Open', 'High', tabelaid='cotacao_agrupada_por_periodo')

                Open     Close      High       Low       Volume  Open-High
Date
2020-01-31  115652.0  113761.0  119593.0  112825.0  122061200.0    -3941.0
2020-02-29  113761.0  104172.0  117701.0   99951.0  112914700.0    -3940.0
2020-03-31  104260.0   73020.0  108804.0   61691.0  270525000.0    -4544.0
2020-04-30   73011.0   80506.0   83598.0   67802.0  209517900.0   -10587.0
2020-05-31   80501.0   87403.0   88091.0   75697.0  220355900.0    -7590.0
2020-06-30   87395.0   95056.0   97693.0   86837.0  232321100.0   -10298.0
2020-07-31   95062.0  102912.0  105704.0   95062.0  212054200.0   -10642.0
2020-08-31  102913.0   99369.0  104523.0   98513.0  202682200.0    -1610.0
2020-09-30   99382.0   94603.0  103226.0   93408.0  182459100.0    -3844.0
2020-10-31   94604.0   93952.0  102218.0   93387.0  198128300.0    -7614.0
2020-11-30   93968.0  108888.0  111603.0   93968.0  210654500.0   -17635.0
2020-12-31  108897.0  114992.0  115262.0  108897.0   80185700.0    -6365.0

In [16]:
cotacoes_s2.analise.diferenca_periodo(
    'Close', 'Open', periodos_consecutivos=True, tabelaid='cotacao_agrupada_por_periodo')

                Open     Close      High       Low       Volume  Open-High  Close-Open
Date
2020-01-31  115652.0  113761.0  119593.0  112825.0  122061200.0    -3941.0         NaN
2020-02-29  113761.0  104172.0  117701.0   99951.0  112914700.0    -3940.0         0.0
2020-03-31  104260.0   73020.0  108804.0   61691.0  270525000.0    -4544.0       -88.0
2020-04-30   73011.0   80506.0   83598.0   67802.0  209517900.0   -10587.0         9.0
2020-05-31   80501.0   87403.0   88091.0   75697.0  220355900.0    -7590.0         5.0
2020-06-30   87395.0   95056.0   97693.0   86837.0  232321100.0   -10298.0         8.0
2020-07-31   95062.0  102912.0  105704.0   95062.0  212054200.0   -10642.0        -6.0
2020-08-31  102913.0   99369.0  104523.0   98513.0  202682200.0    -1610.0        -1.0
2020-09-30   99382.0   94603.0  103226.0   93408.0  182459100.0    -3844.0       -13.0
2020-10-31   94604.0   93952.0  102218.0   93387.0  198128300.0    -7614.0        -1.0
2020-11-30   93968.0  108888.0  111603.0   93968.0  210654500.0   -17635.0       -16.0
2020-12-31  108897.0  114992.0  115262.0  108897.0   80185700.0    -6365.0        -9.0

In [17]:
cotacoes_s2.analise.colunas_frequencias('Volume', tabelaid='cotacao_agrupada_por_periodo')

                Open     Close      High       Low       Volume  Open-High  Close-Open  Rel Volume    Cum Volume  Cum Rel Volume
Date
2020-01-31  115652.0  113761.0  119593.0  112825.0  122061200.0    -3941.0         NaN    5.415652  1.220612e+08        5.415652
2020-02-29  113761.0  104172.0  117701.0   99951.0  112914700.0    -3940.0         0.0    5.009837  2.349759e+08       10.425489
2020-03-31  104260.0   73020.0  108804.0   61691.0  270525000.0    -4544.0       -88.0   12.002743  5.055009e+08       22.428232
2020-04-30   73011.0   80506.0   83598.0   67802.0  209517900.0   -10587.0         9.0    9.295960  7.150188e+08       31.724192
2020-05-31   80501.0   87403.0   88091.0   75697.0  220355900.0    -7590.0         5.0    9.776824  9.353747e+08       41.501015
2020-06-30   87395.0   95056.0   97693.0   86837.0  232321100.0   -10298.0         8.0   10.307700  1.167696e+09       51.808715
2020-07-31   95062.0  102912.0  105704.0   95062.0  212054200.0   -10642.0        -6.0    9.408491  1.379750e+09       61.217206
2020-08-31  102913.0   99369.0  104523.0   98513.0  202682200.0    -1610.0        -1.0    8.992671  1.582432e+09       70.209877
2020-09-30   99382.0   94603.0  103226.0   93408.0  182459100.0    -3844.0       -13.0    8.095406  1.764891e+09       78.305283
2020-10-31   94604.0   93952.0  102218.0   93387.0  198128300.0    -7614.0        -1.0    8.790622  1.963020e+09       87.095905
2020-11-30   93968.0  108888.0  111603.0   93968.0  210654500.0   -17635.0       -16.0    9.346389  2.173674e+09       96.442294
2020-12-31  108897.0  114992.0  115262.0  108897.0   80185700.0    -6365.0        -9.0    3.557706  2.253860e+09      100.000000