In [1]:
import datetime as dt
import cotacoes as ct

In [2]:
# Tickers são um código único que a bolsa
# atribui aos instrumentos financeiros   
TICKERS = [
    # Ações de bolsas estadounidenses
    "TSLA",
    # Ações listadas no Brasil
    "EMBR3.SA",
    # Índices de bolsas mundiais
    "^BVSP",
]

In [3]:
# Duração das séries a serem analisadas. Datas no formato ano, mes, dia
SERIE_1_PERIODO = {"inicio": dt.date(2019, 1, 1), "fim": dt.date(2019, 12, 31)}
SERIE_2_PERIODO = {"inicio": dt.date(2020, 1, 1), "fim": dt.date.today()}

In [4]:
# Séries a serem analisadas (cotações de dois anos diferentes)
SERIE_1 = ct.buscar_cotacoes("TSLA", SERIE_1_PERIODO)
SERIE_2 = ct.buscar_cotacoes("TSLA", SERIE_2_PERIODO)

In [5]:
cotacoes_s1 = ct.Cotacoes(SERIE_1)
cotacoes_s1.tabela_classes

                      Volume  Rel Volume   Cum Volume  Cum Rel Volume
Close
(35.398, 40.564]   701831500    6.081601    701831500        6.081601
(40.564, 45.731]  1976441500   17.126517   2678273000       23.208118
(45.731, 50.897]  2526019000   21.888787   5204292000       45.096905
(50.897, 56.064]  1964828000   17.025882   7169120000       62.122787
(56.064, 61.23]   1315678500   11.400788   8484798500       73.523575
(61.23, 66.396]   1226129500   10.624816   9710928000       84.148391
(66.396, 71.563]  1026627000    8.896061  10737555000       93.044453
(71.563, 76.729]   243653000    2.111334  10981208000       95.155786
(76.729, 81.896]   234904000    2.035521  11216112000       97.191307
(81.896, 87.062]   324130000    2.808693  11540242000      100.000000